<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% if current_page.path == "index.html" %>Alter<% else %><%= current_page.data.title %> | Alter<% end %></title>
    <meta name="title" content="<% if current_page.path == "index.html" %>Alter<% else %><%= current_page.data.title %> | Alter<% end %>">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Creating a Network of the World’s Best Tech Founders">

    <!-- Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Alter">
    <meta property="og:title" content="<% if current_page.path == "index.html" %>Alter<% else %><%= current_page.data.title %> | Alter<% end %>">
    <meta property="og:description" content="Creating a Network of the World’s Best Tech Founders">
    <meta property="og:image" content="/images/share-image.png">
    <meta property="og:url" content="http://alter.global/">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="<% if current_page.path == "index.html" %>Alter<% else %><%= current_page.data.title %> | Alter<% end %>">
    <meta property="twitter:description" content="Creating a Network of the World’s Best Tech Founders">
    <meta property="twitter:image" content="/images/share-image.png">
    <meta property="twitter:url" content="http://alter.global/">

    <script src="https://use.typekit.net/mvz8ikg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="c-page js-page">

    <%= partial "partials/nav" %>
    <%= partial "partials/mobile_nav" %>

    <%= yield %>

    <%= partial "partials/newsletter" %>
    <%= partial "partials/footer" %>

    <%= javascript_include_tag 'vendor' %>
    <%= javascript_include_tag 'main' %>

    <%= yield_content :page_scripts %>
    <%= partial "partials/ga" %>
  </body>
</html>
