<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Alter</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="Alter" />
    <meta property="og:type" content="Website" />
    <meta property="og:url" content="https://alter.global/" />
    <meta property="og:image" content="#" />
    <meta property="og:description" content="#" />

    <script src="https://use.typekit.net/mvz8ikg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="c-page js-page">

    <%= partial "partials/nav" %>
    <%= partial "partials/mobile_nav" %>

    <%= yield %>

    <%= partial "partials/newsletter" %>
    <%= partial "partials/footer" %>

    <%= javascript_include_tag 'vendor' %>
    <%= javascript_include_tag 'main' %>
    
    <%= yield_content :page_scripts %>
    <%= partial "partials/ga" %>
  </body>
</html>