<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title><% if current_page.path == "index.html" %>Alter<% else %><%= current_page.data.title %> | Alter<% end %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Scaling frontier ventures with Silicon Valley resources">

    <!-- Facebook -->

    <meta name="og:title" content="Alter" />
    <meta name="og:type" content="Website" />
    <meta name="og:url" content="http://alter.global/" />
    <meta name="og:image" content="/images/share-image.png">
    <meta name="og:description" content="Scaling frontier ventures with Silicon Valley resources" />

    <!-- Twitter -->

    <meta name="twitter:card" content="summary">
    <meta name="twitter:image" content="/images/share-image.png">
    <meta name="twitter:title" content="Alter">
    <meta name="twitter:description" content="Scaling frontier ventures with Silicon Valley resources">
    <meta name="twitter:url" content="http://alter.global/">

    <script src="https://use.typekit.net/mvz8ikg.js"></script>
    <script>try{Typekit.load({ async: true });}catch(e){}</script>

    <%= favicon_tag '/favicon.png' %>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body class="c-page js-page">

    <%= partial "partials/nav" %>
    <%= partial "partials/mobile_nav" %>

    <%= yield %>

    <%= partial "partials/newsletter" %>
    <%= partial "partials/footer" %>

    <%= javascript_include_tag 'vendor' %>
    <%= javascript_include_tag 'main' %>
    
    <%= yield_content :page_scripts %>
    <%= partial "partials/ga" %>
  </body>
</html>