<% wrap_layout :layout do %>

  <div class="c-venture-section">
    <div class="c-venture-section__inner">

      <div class="c-venture-section__content">
        <div class="c-venture-section__content-inner">
          <p><%= current_page.data.name %></p>
          <h3><%= current_page.data.description %></h3>
          <%= markdown(current_page.data.bio) %>
        </div>
      </div>

      <div class="c-venture-section__testimonial">
        <div class="c-venture-section__quote u-cover">
          <h3 class="u-text-contrast"><%= current_page.data.testimonial.quote %></h3>
          <p class="c-venture-section__author">— <%= current_page.data.testimonial.author %></p>
        </div>
      </div>

    </div>
  </div>

<% end %>