<div class="c-footer">
  <div class="c-footer__main">
    <div class="o-container">
      <div class="o-grid">

        <div class="o-grid__item u-1/2 u-1/4@md u-hide--medium-down">
          <%= inline_svg("/logo.svg", class: "c-footer__logo") %>
        </div>

        <div class="o-grid__item u-1/2 u-1/4@md">
          <ul class="c-footer__list o-list o-list--bare">
            <% data.menuElements.main_menu.each do |menuElement| %>
              <li class="c-footer__item">
                <a class="c-footer__link<%= (current_page.path.split('.')[0] == menuElement.href[1..-1].gsub('/', '') ? ' is-active"' : '') %>" href="<%= menuElement.href %>"><%= menuElement.title %></a>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="o-grid__item u-1/2 u-1/4@md">
          <ul class="c-footer__list o-list o-list--bare">
            <% data.menuElements.social_links.each do |menuElement| %>
              <li class="c-footer__item">
                <a class="c-footer__link" href="<%= menuElement.href %>">
                  <%= inline_svg("icons/#{menuElement.title.downcase}.svg", class: "o-icon c-footer__icon") %>
                  <%= menuElement.title %>
                </a>
              </li>
            <% end %>
          </ul>
        </div>

        <div class="o-grid__item u-1/2 u-1/4@md">
          <small class="c-footer__meta">Alter Global<br>415 Jackson St, Suite B<br>San Francisco, CA 94111</small>
          <small class="c-footer__meta"><a href="mailto:hello@alter.global">hello@alter.global</a></small>
        </div>

      </div>
    </div>
  </div>
  <div class="c-footer__secondary">
    <small><%= Date.today.year %> © Alter Global</small>
  </div>
</div>