<div class="c-newsletter">
  <div class="o-container c-newsletter__container">
    <h3 class="c-newsletter__heading">Stay up to date with news and announcements</h3>
    <form action="#" class="c-newsletter__form">
      <div class="c-field">
        <div class="c-field__input-wrapper">
          <input type="email" class="c-field__input" placeholder="Your email address">
        </div>
      </div>
      <button class="c-btn c-btn--primary c-newsletter__btn">
        <%= inline_svg("/icons/right-arrow.svg", class: "o-icon o-icon--white") %>
      </button>
    </form>
  </div>
</div>

<div class="c-footer">
  <div class="c-footer__main">
    <div class="o-container">
      <div class="o-grid">

        <div class="o-grid__item u-1/2 u-1/4@md u-hide--medium-down">
          <%= inline_svg("/logo.svg", class: "c-footer__logo") %>
        </div>

        <div class="o-grid__item u-1/2 u-1/4@md">
          <ul class="c-footer__list o-list o-list--bare">
            <li class="c-footer__item">
              <a href="/about/" class="c-footer__link">About</a>
            </li>
            <li class="c-footer__item">
              <a href="/ventures/" class="c-footer__link">Our Ventures</a>
            </li>
            <li class="c-footer__item">
              <a href="https://medium.com/alterglobal" class="c-footer__link">Blog</a>
            </li>
          </ul>
        </div>

        <div class="o-grid__item u-1/2 u-1/4@md">
          <ul class="c-footer__list o-list o-list--bare">
            <li class="c-footer__item">
              <a href="https://www.facebook.com/VentureBoldly/" class="c-footer__link">
                <%= inline_svg("icons/facebook.svg", class: "o-icon c-footer__icon") %>
                <span>Facebook</span>
              </a>
            </li>
            <li class="c-footer__item">
              <a href="https://twitter.com/Alter_Global" class="c-footer__link">
                <%= inline_svg("icons/twitter.svg", class: "o-icon c-footer__icon") %>
                <span>Twitter</span>
              </a>
            </li>
            <li class="c-footer__item">
              <a href="https://www.linkedin.com/company-beta/15077937/" class="c-footer__link">
                <%= inline_svg("icons/linkedin.svg", class: "o-icon c-footer__icon") %>
                <span>LinkedIn</span>
              </a>
            </li>
          </ul>
        </div>

        <div class="o-grid__item u-1/2 u-1/4@md">
          <small>Alter Global, LLC<br>199 New Montgomery<br>San Francisco, CA 94105</small>
        </div>

      </div>
    </div>
  </div>
  <div class="c-footer__secondary">
    <small>2017 © Alter Global, LLC</small>
  </div>
</div>