---
title: About Us
dark_arrow: true

slides:
  - heading: Find the World’s Best Entrepreneurs.
  - heading: Scale High-Growth Ventures.
  - heading: Transform Emerging Tech Ecosystems.
  - heading: Connect Silicon Valley to the World.
  - heading: Are Creating a Network of the World's Best Tech Founders.

mission:
  - heading: Find the best entrepreneurs in emerging markets
    subheading: Every nation has a few game-changing entrepreneurs who create outsized value. We select the highest character, highest competency management teams leading the most scalable ventures.
    icon: trophy
    photo: best-entrepreneurs.jpg
  - heading: Connect them to Silicon Valley resources
    subheading: Even the best entrepreneurs in emerging markets lack access to the resources they need to scale. We match them with talent, networks, expertise, and investments from the world’s most prolific entrepreneurial ecosystem - Silicon Valley.
    icon: bridge
    photo: silicon-valley.jpg
  - heading: Create impact at scale
    subheading: Our ventures scale-up to create thousands of new jobs and deliver essential products and services to millions of people. Our entrepreneurs become role-models who lead the transformation of their own national ecosystems.
    icon: network
    photo: impact.jpg

where_we_work:
  heading: Where We Work
  countries:
    - name: afghanistan
      pretty_name: Afghanistan
    - name: bangladesh
      pretty_name: Bangladesh
    - name: cuba
      pretty_name: Cuba
    - name: haiti
      pretty_name: Haiti
    - name: indonesia
      pretty_name: Indonesia
      upcoming: true
    - name: kenya
      pretty_name: Kenya
      upcoming: true
    - name: myanmar
      pretty_name: Myanmar
    - name: nigeria
      pretty_name: Nigeria
    - name: pakistan
      pretty_name: Pakistan
    - name: south-africa
      pretty_name: South Africa
      upcoming: true
    - name: united-states
      pretty_name: United States
      upcoming: true
    - name: vietnam
      pretty_name: Vietnam
      upcoming: true

team:
  heading: Our Team
  subheading: Born out of the Stanford Graduate School of Business, we are creating a global network of the most exceptional tech entrepreneurs.
  founders:
    - name: jesse
      pretty_name: Jesse Sullivan
      role: "Founder/CEO"
      link: https://www.linkedin.com/in/jsully3/
      logos:
        - dod
        - stanford
        - oxford
    - name: ozair
      pretty_name: Ozair Ali
      role: "Co-Founder/COO"
      link: https://www.linkedin.com/in/ozairali/
      logos:
        - dalberg
        - stanford
        - harvard
    - name: rita
      pretty_name: Rita Chang
      role: "Chief Marketing Officer"
      link: https://www.linkedin.com/in/ritachang/
      logos:
        - nike
        - under-armour
        - wharton
    - name: kimh
      pretty_name: Kim Horwitz
      role: "Director of Partnerships"
      link: https://www.linkedin.com/in/kimhorwitz/
      logos:
        - affirm
        - devresults
        - gwu
    - name: elle
      pretty_name: Elle Kang
      role: "Head of Growth"
      link: https://www.linkedin.com/in/elizabethlkang/
      logos:
        - mckinsey
    - name: abisola
      pretty_name: Abisola Otesile
      role: "Head of Kenya"
      link: https://www.linkedin.com/in/abisola-otesile-14955466/
      logos:
        - mckinsey
    - name: daniel
      pretty_name: Daniel Stewart
      role: "Head of USA"
      link: https://www.linkedin.com/in/daniel-stewart-77331879/
      logos:
        - mckinsey
    - name: dara
      pretty_name: Dara Oke
      role: "Head of South Africa"
      link: https://www.linkedin.com/in/daraoke/
      logos:
        - twitter
        - microsoft
    - name: liza
      pretty_name: Liza Lebedev
      role: "Head of Vietnam and the Philippines"
      link: https://www.linkedin.com/in/liza-lebedev/
      logos:
        - mckinsey
    - name: connor
      pretty_name: Connor Guest
      role: "Multimedia Producer"
      link: https://www.linkedin.com/in/connor-guest-037705a2/
      logos:
        - redbull
        - exela
  advisors:
    - name: chris
      pretty_name: Chris Larsen
      role: "Executive Chairman & Co-Founder, Ripple"
    - name: gary
      pretty_name: Gary Pinkus
      role: "Chairman & Senior Partner, McKinsey North America"
    - name: jessica
      pretty_name: Jessica Jackley
      role: "Co-Founder, Kiva; Partner, Collaborative Fund"
    - name: bob
      pretty_name: Bob King
      role: "Founder, Stanford Institute for Innovation in Developing Economies; Early Investor, Baidu"
    - name: kevin
      pretty_name: Kevin Taweel
      role: Co-Founder & CEO, Asurion
    - name: kim
      pretty_name: Kim Polese
      role: "Entrepreneur who launched Java; VC at Broadway Angels; Chairman, ClearStreet; Chairman; CrowdSmart"
    - name: miriam
      pretty_name: Miriam Rivera
      role: "Co-Founder, Ulu Ventures; former VP, Google"
    - name: russ
      pretty_name: Russ Siegelman
      role: "Former Chair, Global Innovation Fund; Former Partner, Kleiner Perkins"
    - name: scott
      pretty_name: Scott Brady
      role: Co-Founder & General Partner, Innovation Endeavors
---

<div class="c-about-header">
  <div class="js-about-header-slideshow c-about-header__slideshow">
    <% current_page.data.slides.each do |slide| %>
      <div>
        <div class="c-about-header__slide">
          <h1>We <span class="c-about-header__accent"><%= slide.heading %></span></h1>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div id="mission">
  <% current_page.data.mission.each do |item| %>
    <div class="c-mission-row">
      <div class="c-mission-row__figure-wrap">
        <div class="c-mission-row__figure u-cover" style="background-image: url('/images/about/mission/<%= item.photo %>');"></div>
      </div>
      <div class="c-mission-row__content">
        <div class="c-mission-row__inner">
          <%= inline_svg("/icons/#{item.icon}.svg", class: "c-mission-row__icon o-icon o-icon--large") %>
          <h3><%= item.heading %></h3>
          <p><%= item.subheading %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<section class="c-section c-section--dark u-text-center">
  <div class="o-container">
    <div class="c-section__block">
      <div class="c-section-heading c-section-heading--lowlight">
        <h2 class="c-section-heading__heading"><%= current_page.data.where_we_work.heading %></h2>
      </div>
    </div>
    <div class="c-section__block">
      <div class="o-grid o-grid--center">
        <% current_page.data.where_we_work.countries.each do |country| %>
          <div class="o-grid__item u-1/1 u-1/2@sm u-1/3@md u-1/4@lg u-flex">
            <a href="/ventures/" class="c-country<% if country.upcoming %> c-country--upcoming<% end %>">
              <%= inline_svg("/about/countries/#{country.name}.svg", class: "c-country__map") %>
              <h4 class="c-country__name"><%= country.pretty_name %> <% if country.upcoming %><span class="c-country__tag">2019</span><% end %></h4>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="c-section">
  <div class="o-container">
    <div class="c-section__block u-text-center">
      <div class="c-section-heading">
        <h2 class="c-section-heading__heading"><%= current_page.data.team.heading %></h2>
        <p class="u-text-lead"><%= current_page.data.team.subheading %></p>
      </div>
    </div>
    <div class="c-section__block">
      <div class="o-grid">
        <% current_page.data.team.founders.each do |founder| %>
          <div class="o-grid__item u-1/1 u-1/2@sm u-1/3@md u-1/4@lg">
            <a href="<%= founder.link %>" class="c-founder" target="_blank">
              <div style="background-image: url('/images/about/team/<%= founder.name %>.jpg')" class="c-founder__photo u-cover"></div>
              <div>
                <h3 class="c-founder__name"><%= founder.pretty_name %></h3>
                <p class="u-margin-bottom-small"><%= founder.role %></p>
                <div class="c-founder__logos">
                  <% founder.logos.each do |logo| %>
                    <img src="/images/about/logos/<%= logo %>.svg" class="c-founder__logo">
                  <% end %>
                </div>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="c-section__block c-section__block--border">

      <!-- Advisors -->
        <h4 class="u-margin-bottom-large u-margin-bottom-x-large@lg">Global Advisors</h4>
        <div class="c-advisor-list">
          <% current_page.data.team.advisors.each do |member| %>
            <div class="c-advisor-list__item u-1/1 u-1/2@sm u-1/3@lg">
              <div class="c-advisor">
                <div style="background-image: url('/images/about/team/<%= member.name %>.jpg')" class="c-advisor__photo u-cover"></div>
                <div>
                  <strong class="c-advisor__name"><%= member.pretty_name %></strong>
                  <small class="c-advisor__role"><%= member.role %></small>
                </div>
              </div>
            </div>
          <% end %>
        </div>

      </div>
    </div>
  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'about' %>
<% end %>