---
title: About Us
dark_arrow: true

mission:
  - heading: Find the best entrepreneurs in frontier markets
    subheading: Every nation has a few game-changing entrepreneurs who create outsized value. We select the highest character, highest competency management teams leading the most scalable ventures.
    icon: trophy
    photo: best-entrepreneurs.jpg
  - heading: Connect them to Silicon Valley Resources
    subheading: Even the best entrepreneurs in frontier markets lack access to the resources they need to scale. We match them with talent, networks, expertise, and investments from the world’s most prolific entrepreneurial ecosystem - Silicon Valley.
    icon: bridge
    photo: silicon-valley.jpg
  - heading: Create impact at scale
    subheading: Our ventures scale-up to create thousands of new jobs and deliver essential products and services to millions of people. Our entrepreneurs become role-models who lead the transformation of their own national ecosystems.
    icon: network
    photo: impact.jpg

where_we_work:
  heading: Where we work
  countries:
    - name: myanmar
      pretty_name: Myanmar
      meta: Leapfrogging Tech Innovation
      description: Political and economic reforms have turned Myanmar into one of the fastest growing economies in Asia. We see limitless potential in the country’s educated workforce that is dedicated to making good on the promise of newly opened markets. Myanmar is primed for the digital age.
    - name: haiti
      pretty_name: Haiti
      meta: Liberation from Aid
      description: Where foreign aid is failing, Alter’s entrepreneurs are successfully creating jobs and transforming their communities. Haiti boasts vast pools of talent and natural resources. We believe the right ventures can help pull the country’s economy away from cyclical poverty and reliance on outside assistance. 
    - name: afghanistan
      pretty_name: Afghanistan
      meta: Peace Through Entrepreneurship
      description: Many outside observers see endless corruption and violence. We dug deeper and found an elite tier of Afghans leading businesses that buck the trend. They don’t rely on foreign aid. They refuse to bribe. And they turn strong profits. Alter’s entrepreneurs reach nation-wide to employ and empower their fellow citizens in this resource-rich nation.
    - name: cuba
      pretty_name: Cuba
      meta: Building Partnerships for Prosperity
      description: We’re on the ground right now, finding and selecting the best entrepreneurial talent Cuba has to offer. We’re excited to show off our great new partner companies soon.

team:
  heading: Our Team
  subheading: Born out of the Stanford Graduate School of Business, we live and work where Silicon Valley meets the frontier
  founders:
    - name: jesse
      pretty_name: Jesse Sullivan
      role: "Founder/CEO"
      link: https://www.linkedin.com/in/jsully3/
      bio: "I made a promise to devote my life to serving children dying of basic needs. I grew frustrated by my failed attempts to create change in the world’s toughest places through traditional charity, military, and government solutions. Alter was born out of a desire to bring together two radically different worlds: Silicon Valley, where the future is being created, and frontier markets, where many still struggle to survive."
    - name: ozair
      pretty_name: Ozair Ali
      role: "Co-Founder/COO"
      link: https://www.linkedin.com/in/ozairali/
      bio: I love solving puzzles - especially those with a purpose. The elimination of poverty is the puzzle I want to solve in my lifetime. I was born in a middle-class family in a developing country, but have been exceptionally fortunate to go to some of the best schools, and work across four continents in the public and private sector. With all of that, if I don't solve this puzzle, well, who will?
  board:
    - name: jessica
      pretty_name: Jessica Jackley
      role: "Co-Founder of Kiva; Partner at Collaborative Fund"
    - name: allen
      pretty_name: Allen Taylor
      role: MD of Endeavor Catalyst
  advisors:
    - name: russ
      pretty_name: Russ Siegelman
      role: "Chair, Global Innovation Fund; Former Partner at Kleiner Perkins"
    - name: bob
      pretty_name: Bob King
      role: "Founder of Stanford Institute for Innovation in Developing Economies; Early Investor in Baidu"
    - name: kim
      pretty_name: Kim Polese
      role: "Entrepreneur who launched Java; VC at Broadway Angels"
    - name: kevin
      pretty_name: Kevin Taweel
      role: CEO, Asurion
    - name: matt
      pretty_name: Matt Bannick
      role: MD at Omidyar Network; Former President of Paypal & eBay International
---

<div class="c-about-header">
  <div class="o-container">
    <h1 class="c-about-header__heading">We <span class="c-about-header__heading-accent js-typed"></span></h1>
    <div class="js-typed-strings">
      <span>Find the World’s Best Entrepreneurs.</span>
      <span>Scale High-Growth Ventures.</span>
      <span>Transform Frontier Markets.</span>
      <span>Connect Silicon Valley to the World.</span>
      <span>Create Impact Through Entrepreneurship.</span>
    </div>
  </div>
  <%= partial('partials/down_arrow', :locals => { :link => "#mission" }) %>
</div>

<div id="mission">
  <% current_page.data.mission.each do |item| %>
    <div class="c-mission-row">
      <div class="c-mission-row__figure-wrap">
        <div class="c-mission-row__figure u-cover" style="background-image: url('/images/about/mission/<%= item.photo %>');"></div>
      </div>
      <div class="c-mission-row__content">
        <div class="c-mission-row__inner">
          <%= inline_svg("/icons/#{item.icon}.svg", class: "c-mission-row__icon o-icon o-icon--large") %>
          <h3><%= item.heading %></h3>
          <p><%= item.subheading %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<section class="c-section c-section--accent u-text-center">
  <div class="o-container">
    <div class="c-section__block">
      <div class="c-section-heading c-section-heading--lowlight">
        <h2 class="c-section-heading__heading"><%= current_page.data.where_we_work.heading %></h2>
      </div>
    </div>
    <div class="c-section__block">
      <div class="o-grid">
        <% current_page.data.where_we_work.countries.each do |country| %>
          <div class="o-grid__item u-1/1 u-1/2@sm u-1/4@lg u-flex">
            <a href="/ventures/#<%= country.name %>" class="c-country">
              <%= inline_svg("/about/countries/#{country.name}.svg", class: "c-country__map") %>
              <h3 class="c-country__name"><%= country.pretty_name %></h3>
              <p class="c-country__meta"><%= country.meta %></p>
              <div class="c-country__description u-hide--medium-down">
                <small><%= country.description %></small>
              </div>
            </a>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>

<section class="c-section">
  <div class="o-container">
    <div class="c-section__block u-text-center">
      <div class="c-section-heading">
        <h2 class="c-section-heading__heading"><%= current_page.data.team.heading %></h2>
        <p class="u-text-lead"><%= current_page.data.team.subheading %></p>
      </div>
    </div>
    <div class="c-section__block">
      <div class="o-grid">
        <div class="o-grid__item u-1/1 u-2/3@md">
          <% current_page.data.team.founders.each do |founder| %>
            <a href="<%= founder.link %>" class="c-founder" target="_blank">
              <div style="background-image: url('/images/about/team/<%= founder.name %>.jpg')" class="c-founder__photo u-cover"></div>
              <div>
                <h3 class="c-founder__name"><%= founder.pretty_name %></h3>
                <p><%= founder.role %></p>
                <small><%= founder.bio %></small>
              </div>
            </a>
          <% end %>
        </div>
        <div class="o-grid__item u-1/1 u-1/3@md">
          <div class="c-advisor-list">
            <div class="c-advisor-list__section">
              <h4 class="c-advisor-list__heading">Board of Directors</h4>
              <% current_page.data.team.board.each do |member| %>
                <div class="c-advisor c-advisor-list__item">
                  <div style="background-image: url('/images/about/team/<%= member.name %>.jpg')" class="c-advisor__photo u-cover"></div>
                  <div>
                    <strong class="c-advisor__name"><%= member.pretty_name %></strong>
                    <small class="c-advisor__role"><%= member.role %></small>
                  </div>
                </div>
              <% end %>
            </div>
            <div class="c-advisor-list__section">
              <h4 class="c-advisor-list__heading">Global Advisors</h4>
              <% current_page.data.team.advisors.each do |advisor| %>
                <div class="c-advisor c-advisor-list__item">
                  <div style="background-image: url('/images/about/team/<%= advisor.name %>.jpg')" class="c-advisor__photo u-cover"></div>
                  <div>
                    <strong class="c-advisor__name"><%= advisor.pretty_name %></strong>
                    <small class="c-advisor__role"><%= advisor.role %></small>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<% content_for :page_scripts do %>
  <%= javascript_include_tag 'about' %>
<% end %>