---
header:
  sections:
    - name: Lead
      photo: lead
    - name: Scale
      photo: scale
    - name: Transform
      photo: transform

countries:
  - name: Myanmar
    subheading: Leapfrogging Tech Innovation
    ventures:
      - name: company
        founder: alex
        description: Nullam id dolor id nibh ultricies vehicula ut id elit.
      - name: company
        founder: alex
        description: Nullam id dolor id nibh ultricies vehicula ut id elit.
  - name: Afghanistan
    subheading: Leapfrogging Tech Innovation
    ventures:
      - name: company
        founder: alex
        description: Nullam id dolor id nibh ultricies vehicula ut id elit.
      - name: company
        founder: alex
        description: Nullam id dolor id nibh ultricies vehicula ut id elit.
---

<div class="c-ventures-header">
  <div class="c-ventures-header__inner">
    <% current_page.data.header.sections.each do |section| %>
      <div class="c-ventures-header__slice">
        <h1 class="c-ventures-header__title"><%= section.name %></h1>
        <div class="c-ventures-header__image" style="background-image: url('/images/ventures/header/<%= section.photo %>.jpg');"></div>
      </div>
    <% end %>
  </div>

  <%= partial('partials/down_arrow', :locals => { :link => "#myanmar" }) %>
</div>

<% current_page.data.countries.each_with_index do |country, index| %>
  <div class="c-section <%= index % 2 == 0 ? '' : 'c-section--alt' %>" id="<%= country.name.downcase %>">
    <div class="o-container">
      <div class="o-grid">
        <div class="o-grid__item u-1/1 u-1/2@sm u-1/3@md">
          <div class="c-venture-title">
            <div class="c-venture-title__content">
              <img src="/images/ventures/<%= country.name.downcase %>/<%= country.name.downcase %>-flag.png" class="c-venture-title__flag">
              <h2 class="c-venture-title__name"><%= country.name %></h2>
              <p><%= country.subheading %></p>
            </div>
          </div>
        </div>
        <% country.ventures.each do |venture| %>
          <div class="o-grid__item u-1/1 u-1/2@sm u-1/3@md">
            <div class="c-venture">
              <p class="c-venture__text"><%= venture.description %></p>
              <img src="/images/ventures/<%= country.name.downcase %>/<%= venture.name %>.png" class="c-venture__logo">
              <div class="c-venture__photo u-cover" style="background-image: url('/images/ventures/<%= country.name.downcase %>/<%= venture.name %>.jpg');"></div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>